{% extends 'base.html' %}
{% block body %} 
    <h1>Todo App</h1>
    <form action="{{ url_for('add_todo') }}" method="post">
        <input type="text" name="todo" placeholder="Enter your task" required>
        <button type="submit">Add</button>
    </form>
    <table>
        <tr>
            <th>#.</th>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        {% for todo in todos %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ todo.task }}</td>
                <td style="text-align: center;">
                    <a href="{{ url_for('update_todo', todo_id=todo.id) }}"><button class="update-button">Update</button></a>
                    <a href="{{ url_for('delete_todo', todo_id=todo.id) }}"><button class="delete-button">Delete</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
